
{foreach $controls as $ctrl}
	{if $calculate && $iterator->isFirst()}
		{startRow()|noescape}
	{/if}

	{startColumn($iterator->getCounter())|noescape}
	{control $ctrl}
	{endColumn()|noescape}

	{if $calculate}
		{if $iterator->isLast()}
			{endRow()|noescape}
		{elseif $iterator->getCounter() % $number === 0}
			{endRow()|noescape}
			{startRow()|noescape}
		{/if}
	{/if}
{/foreach}
