{foreach $controls as $ctrl}
	{var $counter = $iterator->getCounter()}

	{* Row *}
	{if $calculate && $iterator->isFirst()}
		{startRow()|noescape}
	{/if}

	{* Column *}
	{startColumn($counter)|noescape}
	{control $ctrl}
	{endColumn()|noescape}

	{* Row *}
	{if $calculate}
		{if $iterator->isLast()}
			{endRow()|noescape}
		{elseif $counter % $number === 0}
			{endRow()|noescape}
			{startRow()|noescape}
		{/if}
	{/if}
{/foreach}
